#container {
  background-color:#ff0000;
  margin: 10px 0px 0px 10px;
  padding: 10px;
}

#messages-container {
  background-color:#333333;
  float: left;
  border: 1px solid #CCCCCC;
  width: 50%;
  height: 300px;
  overflow: auto;
  color:#ffffff;
}

#users {
  background-color:#333333;
  opacity:0.3;
  filter:alpha(opacity=30); /* For IE8 and earlier */
  float: left;
  margin-left: 5px;
  border: 1px solid #CCC;
  overflow: auto;
  height: 300px;
  width: 180px;
}

.clear {
  clear: both;
}

#msg-input {
  margin-top: 5px;
}

#msg-input input {
  float: left;
  border: 1px solid #CCC;
  overflow: auto;
  width: 50%;
  height: 20px;
}

#conection-status {
  color: #ff0000;
  text-align: center;
  float: left;
  margin-left: 5px;
  border: 1px solid #CCC;
  overflow: auto;
  margin-top: 0px;
  width: 180px;
  height: 20px;
  background-color: #222222;
}
#content-end{
  overflow: auto;
  width: 100%;
}