#container {
  background-color:#ff0000;
  position: absolute;

  width: 600px;
  height: 340px;

  margin-left: auto;
  margin-right: auto;
  left:0;
  right:0;

  padding: 10px;
  border-radius: 5%;
  box-shadow: inset 0px 0px 100px black; 
  box-shadow: 0px 0px 30px black;
}

#messages-container {
  background-color:#333333;
  float: left;
  border: 5% solid #CCCCCC;
  height: 300px;
  width: 400px;
  color:#ffffff;
  border: 1px solid #CCC;
  box-shadow: 5px 5px 15px black;
}

#users {
  background-color:#A00000;
  /*
  opacity:0.3;
  filter:alpha(opacity=30); /* For IE8 and earlier */
  float: left;
  margin-left: 5px;
  border: 1px solid #CCC;
  overflow: auto;
  height: 300px;
  width: 180px;
  color:#ffffff;
  font-weight: bold;
  box-shadow: 5px 5px 15px black;
}

.clear {
  clear: both;
}

#msg-input {
  margin-top: 5px;
}

#msg-input input {
  float: left;
  border: 1px solid #CCC;
  overflow: auto;
  width: 400px;
  height: 20px;
  box-shadow: 5px 5px 15px black;
}

#conection-status {
  color: #ff0000;
  text-align: center;
  float: left;
  margin-left: 5px;
  border: 1px solid #CCC;
  overflow: auto;
  margin-top: 0px;
  width: 180px;
  height: 20px;
  background-color: #222222;
  box-shadow: 5px 5px 15px black;
}
#content-end{
  overflow: auto;
  width: 100%;
}